<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8"/>
	<title>文档浏览器</title>
	<link rel="stylesheet" href="/static/css/md02.css"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=yes" />
	<meta name="apple-mobile-web-app-title" content="MD浏览器" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta content="telephone=no" name="format-detection" />
	<style type="text/css">
		.files{padding-bottom:30px;} 
		.files li{line-height:32px;font-size:18px;border-bottom: 1px solid #efefef;}
		.files li .size{color:#999;font-style:italic}
		.files li .dir{color:#666;}
		.files li .file{color:#07982d;}

	</style>
</head>
<body>
<article class="markdown-body">
<h2>文档浏览器</h2>
<ul class="files">
<li>当前：/{{.path}}</li>
<li><a href="/">/</a></li>
<li><a href="?path={{.parentPath}}">../</a></li>
{{range .files}}
	<li>[{{.Isdir | getDirFileStatus}}]  - <a href="?path={{.Path}}/{{.Name}}">{{.Name}}</a> - <span class="size">{{.FileSize}}</span></li>
{{end}}
</ul>
</article>
</body>
</html>