
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8"/>
	<title>beego开发的MarkDown浏览器 - 首页</title>
	<link rel="stylesheet" href="/static/css/md02.css"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=yes" />
	<meta name="apple-mobile-web-app-title" content="MD浏览器" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta content="telephone=no" name="format-detection" />
</head>
<body>
<article class="markdown-body">
	<h2>Beego开发的MarkDown 文档浏览器</h2>
	<h4>项目地址:</h4> 
	<code><a href="https://github.com/zituocn/md" target="_blank">https://github.com/zituocn/md</a></code>
	<h4>go get 安装</h4>
	<code>go get -u github.com/zituocn/md</code>
	<h4>git clone</h4>
	<code>git clone https://github.com/zituocn/md.git</code>
	<h4>运行：</h4>
	<code>go build <br />./md</code>
	<h4>配置修改：</h4>
	<code>vi /conf/app.conf</code>
	<h4>介绍：</h4>
	<code><a href="https://github.com/zituocn/md/README.md" target="_blank">https://github.com/zituocn/md/README.md</a></code>
</article>
</body>
</html>